@page
@using Microsoft.Extensions.Localization
@using InventoryTrackingAutomation.Localization
@using InventoryTrackingAutomation.Web.Pages.InventoryTrackingAutomation
@model InventoryTrackingAutomation.Web.Pages.InventoryTrackingAutomation.IndexModel
@inject IStringLocalizer<InventoryTrackingAutomationResource> L

@{
}
<h1>InventoryTrackingAutomation</h1>
<p>@L["SamplePageMessage"]</p>
