@page "/InventoryTrackingAutomation"
@using Microsoft.Extensions.Localization
@using global::InventoryTrackingAutomation.Localization
@inject IStringLocalizer<InventoryTrackingAutomationResource> L
@{
}
<h1>InventoryTrackingAutomation</h1>
<p>@L["SamplePageMessage"]</p>